DB_USER=recipe_user
DB_PASSWORD=recipe_pass
DB_NAME=recipe_db
DB_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=80
REDIS_PORT=6379
REDIS_PASSWORD=redis_pass
CELERY_BROKER_URL=redis://:redis_pass@redis:6379/1
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minio_secure_password
