cloud_id  = "YCAGV1234567890"
folder_id = "YCAGV1234567890"

environment = "staging"
availability_zones = ["1", "2"]
instance_tags = {
  "env" = "staging"
  "project" = "recipe-platform"
}
public_subnet_cidr  = "10.30.1.0/24"
private_subnet_cidr = "10.30.2.0/24"
cluster_ipv4_range  = "10.40.0.0/16"

k8s_version = "1.33"

database_name     = "recipe_platform_db"
database_user     = "db_user"
database_password = "secure_password" # pragma: allowlist secret
redis_password    = "secure_redis_password" # pragma: allowlist secret

admin_cidr = ""
ssh_public_key = ""

dns_zone_name = "recipe-platform-staging."

github_oidc_audience = "recipe-platform"
github_repository    = "lakello/recipe-platform"